@{
    ViewData["Title"] = "Авторизация";
}

<h1>Добро пожаловать!</h1>
<h2><b>Авторизируйтесь</b></h2>

<form method="post" id="autorizform">
    <div class="row">
        <div class="input-field col s6">
            <input name="login" type="text" class="validate">
            <label class="active" for="login">Логин</label>
            <span name="spanlogin" class="helper-text" data-error="Ошибка!" data-success=""></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input class="input-field col s6" name="password" type="password">
            <label class="active" for="password">Пароль</label>
            <span class="helper-text" data-error="Ошибка!" data-success=""></span>
        </div>
    </div>

    <button type="submit" id="signBtn" class="waves-effect waves-light btn ButtonWhite">Вход</button>

    @if (ViewBag.ErrorMessage != null)
    {
        <p class="error-message">@ViewBag.ErrorMessage</p>
    }
</form>

<a class="waves-effect waves-light btn ButtonBlack" asp-controller="Home" asp-action="RegistrationWindow">Регистрация</a>
<a class="waves-effect waves-light btn ButtonBlack" asp-controller="Home" asp-action="MainMenu">Главное меню</a>
<a class="waves-effect waves-light btn ButtonBlack" asp-controller="Home" asp-action="ShopMenu">ShopMenu</a>
<a class="waves-effect waves-light btn ButtonBlack" asp-controller="Home" asp-action="UserProfile">UserProfile</a>
