

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/css/about_us.css" />
	<title>Магазин компьютерной техники</title>
</head>
<body>
	<div class="four"><h1>О нас. Магазин компьютерной техники</h1></div>
	<h5>Здравствуйте! Мы рады приветствовать вас в нашем магазине компьютерной техники. У нас вы найдете широкий выбор высококачественной компьютерной техники и аксессуаров для всех ваших потребностей. Мы предлагаем:</h5>
		<ol class="square">
			<li>Ноутбуки</li>
			<li>Мониторы</li>
			<li>Материнские платы</li>
		</ol>

	<div class="Anton">
		<div class="box">
			<div class="image-box">
				<img src="/other/images/photo_2023-04-23_20-35-51.jpg" alt="Фото">
			</div>
			<div class="details">
				<h3>Федотова Ксения</h3>
				<p>Флокс (лат. Phlox) — род красивоцветущих травянистых растений...</p>
			</div>
		</div>
		<div class="box">
			<div class="image-box">
				<img src="/other/images/Радмир.jpg" alt="Фото">
			</div>
			<div class="details">
				<h3>Гумеров Радмир</h3>
				<p>Флокс (лат. Phlox) — род красивоцветущих травянистых растений...</p>
			</div>
		</div>
		<div class="box">
			<div class="image-box">
				<img src="/other/images/Альбина.jpg" alt="Фото">
			</div>
			<div class="details">
				<h3>Шайхуллина Альбина</h3>
				<p>Флокс (лат. Phlox) — род красивоцветущих травянистых растений...</p>
			</div>
		</div>
	</div>
</body>
</html>

